# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
pm2.log
pm2-errors.log

# Database
*.sqlite
*.sqlite3
mongodb/

# Temporary files
tmp/
dist/
coverage/
.DS_Store
.vscode/
.idea/

# Cache
.cache/
.nyc_output/

# Build files
build/
